body{
    font-family: 'Cormorant', sans-serif;
}
header *
{
    display:inline;
}
header{
    margin:32px
}
h1{
    font-weight:100;
}
a{
    color:black;
    text-decoration:none;
}
ul li{
    margin-left: 20px;
    font-size: 20px;
}
ul li:first-child{
    border-bottom: 1px solid black;
    padding: 1px;
}
div{
width:45%;
box-sizing: border-box;
display:inline-block;
margin:15px;
}
img{
    width:100%;
    height:600px;
    object-fit: cover;
}
h2{
    font-weight:100;
}
.desc{
    width:400px;
    margin:40px 200px;
    font-size:40px;
    font-weight:300;
}
h3.together{
    display:inline;
    width:400px;
    margin:40px 200px;
    border-bottom:1px solid black;
    font-size:28px;
    font-weight:300;
}
.contact
{
    width:400px;
    margin:140px 200px;
    font-size:20px;
    font-weight:300;
}