h1{
    color:red;
}
h2{
    color:blueviolet
}
h3{
    color:lime;
}
button{
    background-color:black;
    color:white;
}
p{
    background-color:rgb(175, 22, 175);
    color: rgb(26, 2, 26);
}
div{
 background-color: #ff751f;
 opacity: 0.5;
}
