body {
  background-color: #463d36;
  font-family: Arial, sans-serif;
}

.container {
  background-color: #fff;
  width: 600px;
  margin: 90px auto;
  padding: 40px;
  border-radius: 10px;
  text-align: left;
}

h2 {
  color: #a6192e;
  font-size: 24px;
  margin-bottom: 0;
}

h1 {
  color: #463d36;
  font-size: 40px;
  margin-top: 0;
}

p {
  color: #463d36;
  font-size: 28px;
  margin-bottom: 40px;
}

button {
  background-color: #463d36;
  color: #fff;
  font-size: 24px;
  border: none;
  padding: 30px 40px;
  cursor: pointer;
}
