body {
  font-family: sans-serif;
  margin: 40px;
  line-height: 1.6;
  color: black;
}
h1 {
  text-align: center;
  font-weight: normal;
  font-size: 30px;
  color: black;
}
h1.pp1 {
  text-align: center;
  font-size: 30px;
  font-weight: normal;
}
#leafy {
  color: #4CAF50;     
  text-decoration: underline;
}
p.latin {
  font-style: italic;
}
h2 {
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  font-size: 20px;
}
a{
  color: orange;
  text-decoration: none;
  font-weight: bold;
}
a:hover {
  color: orangered;
  text-decoration: underline;
}
ul {
  margin-left: 40px;
  list-style-type: square;
}
