h1{
    text-align: center;
    font-family:sans-serif;
    font-size: 60px;
}
h2{
    font-style:italic;
    font-size: 50px;
    text-shadow: 2px -5px 5px purple;
}
h3{
    font-family: 'Indie Flower',cursive;
    font-size: 35px;
    color: rgb(128, 12, 128)
}
p{
    font-weight: 200;
    font-size: 40px; 
    line-height: 80px;
    letter-spacing: 10;   
}