
h1{
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 60px;
}
h2{
    font-style: italic;
    font-size: 50px;
    text-shadow: 2px 2px 5px #9370DB ;

}
h3{
  font-family: 'Indie Flower', cursive; 
  font-size: 35px;
  color: rgb(255, 105, 180); 
}

p{
  font-weight: 200;       
  font-size: 40px;       
  line-height: 80px;      
  letter-spacing: 10px;  
}

