body{
    background-color: #463d36;
  margin: 0;
  align-items: center;
  margin: 0;
  min-height: 100vh; 
  display: flex;
  justify-content: center;
  align-items: center;      

.container{
    width: 600px;    
    background-color: white;
    margin:90px auto;
    padding:40px;
    border-radius:10px;
}   
h2{
    color:#a6192e;
}
h1{
    font-weight: 40px;
    color:#463d36;
}
p{
    font-weight: 28px;
    word-break: 5px;
}
button{
    background-color:#463d36;
    color:white;
    padding:10px 20px;
    font-size:16px;
    cursor:pointer;
}