.Title
{
    background-color: #863ae8;
    color:white;
    height:100vh;
    display:flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;

}
.tolgoiHeseg
{
    text-align: center;
    font-size: 3rem;
    margin-top:20px;
}
h1{
  font-size: 80px;
  font-weight:400px;
  font-family: Bitter, serif;
}
Body{
    margin: 0;
    padding: 0;
}
.dooguurZuraas{
     width: 100%;          /* Зураасны урт */
    border: 0;
    height: 1px;         /* Зураасны зузаан */
    background-color: white;   /* Өнгө */
    margin-top: 30px;
}
footer{
    background-color: #863ae8;
    margin-top:auto;
    display:flex;
    justify-content: center;
    text-align: center;
     padding: 30px 0; 
}
footer ul{
    display:flex;
    list-style:none;
    gap:40px;
    margin-top:0;
    padding-bottom:0;
}
footer ul li a{
    color:white;
    text-decoration: none;
    font-weight:lighter;
}
