body {
  font-family: "Cormorant", serif;
}
header * {
  display: inline;
}
header {
  margin: 32px;
}
h1 {
  font-weight: 100;
}
a {
  color: black;
  text-decoration: none;
}
ul li {
  margin-left: 20px;
  font-size: 20px;
}
ul li:first-child {
  border-bottom: 1px solid black;
  padding: 1px;
}
div {
  width: 45%;
  box-sizing: border-box;
  display: inline-block;
  padding: 15px;
}
img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.desc {
  /* display: inline; */
  width: 400px;
  /* border: 1px solid red; */
  margin: 40px 200px;
  font-size: 40px;
  font-weight: 300;
}
h3.together {
  width: 400px;
  display: inline;
  border-bottom: 1px solid black;
  padding: 5px;
  margin: 0px 200px;
  font-size: 40px;
  font-weight: 300;
}
.contact {
  margin: 140px 200px;
  display: block;
}
/* .footerclass {
  padding-left: 200px;
} */
h2 {
  font-weight: 300;
}