body{
    background-color: #463d36;
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
   background-color: #ffffff;
   width:600px;
   border-radius:15px;
   padding:40px;
    box-sizing:border-box;
}
h2{
    text-align: center;
    color: #a6192e;
    text-transform: uppercase;
    font-size: 24px;
    margin: 0 0 20px 0;
}
h1{
    font-size: 40px;
    margin: 0 0 28px 0;
}
p{
    font-size: 28px;
    margin: 0 0 20px 0;
    margin: 0 0 40px 0;
    line-height: 1.5;
    letter-spacing: 20;
}
span{
    display:block
}
button{
    background-color: #463d36;
    color: #ffffff;
    border: none;
    padding: 15px 40px;
    font-size: 24px;
    cursor: pointer;
    margin-bottom:0;
}
