.pxUnit
{
    width: 10cm;
    height: 100px;
    background-color: rgb(17, 131, 169);
}
.container
{
    width: 500px;
    height: 300px;
    background-color: rgb(240, 105, 105);
}
.box
{
    width: 50%;
    height: 50%;
    background-color: rgb(105, 240, 105);
}
.vhUnit
{
    height:50vh;
    width:50vw;
    background-color: rgb(200, 105, 240);
}
.vwUnit
{
    width:50vw;
    height:50vh;
    min-width: 300px;
    background-color: rgb(240, 200, 105);
}
body{
    margin:0;
}
.remClass{
    font-size:2rem;
}
.emClass
{
    font-size:2em;
    line-height: 1em;
}
.emContainer{
    font-size:20px;
}