/*  https://i.postimg.cc/Jh60BT85/Screen-Shot-2023-01-30-at-10-08-54-AM.png */
.container {
  width: 800px;
  height: 600px;
  border: 2px solid red;
  background-image: url(https://i.postimg.cc/Jh60BT85/Screen-Shot-2023-01-30-at-10-08-54-AM.png);
  background-position:left bottom;
  
}

/* https://images.unsplash.com/photo-1674905682134-496ca5a4862b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1376&q=80 */

.container2 {
  width: 300px;
  height: 500px;
  border: 2px solid red;
  background-image: url(https://images.unsplash.com/photo-1674905682134-496ca5a4862b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1376&q=80);
  background-size: contain;
  background-position:right;
  filter:contrast(80%);
}
.Box
{width:100%;
 position:relative;
 height:600px;
}
.box1 {
  background-color: #f44336;
  width: 100px;
  height: 100px;
  position: absolute;
}

.box2 {
  background-color: #e91e63;
  width: 100px;
  height: 100px;
  position:absolute;
  right: 0px;
  top:0px;
}

.box3 {
  background-color: #9c27b0;
  width: 100px;
  height: 100px;
  position:absolute;
  right:0px;
  bottom:0px;
}

.box4 {
  background-color: #3f51b5;
  width: 100px;
  height: 100px;
   position:absolute;
   bottom: 0px;
}
.sidebar
{
  background-color: red;
  width:150px;
  height:1000px;
  position:fixed;
  right:0;
  /* position: absolute; */
   top:0;
}
button{
 position: absolute;
 right:0;
}
body{
    height:1000000000000000000px;
}