body{
    font-family:'cormorant',serif;
}
header *{
    display:inline;
}
header{
    margin: 40px;
}
h1{
    font-weight: 100;
}
a{ 
    text-decoration: none;
    color: black;
}
ul li:first-child{
    border-bottom:solid 1px black;
    padding:1px;
}
ul li{
    margin-left:20px;
    font-size:20px
}
div{
  width: 45%;
  box-sizing: border-box;
  display: inline-block;
  padding: 15px;
}
img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}




   



