p{
    color: green;
}
span{
    color: purple;
}
h2 {
    background-color: rgb(70, 70, 130);
    color: rgb(25, 25, 183)
}
h3{
    background-color: rgba(152, 1, 1, 0.5);
    color: rgba(39, 6, 6, 0.5)
}
h4{
    color: rgba(57, 10, 10, 0.5)
    opacity: 0.5;
}